@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100;200;300;400;600;700;800;900&family=Rowdies:wght@700&display=swap');

body {
    background: rgba(90, 82, 82, 0.219);
    font-family: 'Rowdies', cursive;
}

/* cabeçalho do cordel */

.cabecalho {
    background: black;
    color: aliceblue;
    padding: 5% 0% 5% 0%;
    margin: 0% 0% 0% 0%;
    text-align: center;
}

/* links  */

a {
    text-decoration: none;
    color: aqua;

}

/* parts que não tem fundo 1 e 2 do cordel */

.cordel {
    padding: 5% 0% 5% 0%;
    margin: 0% 0% 0% 10%;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-family: 'Rowdies', cursive;
}

/* background da segunda part do cordel */

.img {
    background-image: url(img/literatura-de-cordel-1-1.webp);
    padding: 10% 15% 10% 0%;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0% 0% 0% 0%;
    background-attachment: fixed;
}

/* segunda part do cordel */

#cordelflor {
    padding: 5% 0% 5% 0%;
    margin: 0% 0% 0% 10%;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(250, 250, 250);
    background: rgba(0, 0, 0, 0.74);
    border-radius: 25px;
    font-family: 'Rowdies', cursive;
}

#cordelflor:hover{
    transition: 0.8;
    opacity: 0.8;
    color: rgb(250, 250, 250);
    background: rgb(0, 0, 0);
}

/* background da lista de literatura */

.img2 {
    background-image: url(img/background002.jpg);
    padding: 10% 15% 10% 0%;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0% 0% 0% 0%;
    background-attachment: fixed;
}

.lista {
    text-align: center;
    padding: 5% 0% 5% 0%;
    margin: 0% 0% 0% 10%;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(250, 250, 250);
    background: rgba(0, 0, 0, 0.74);
    border-radius: 25px;
    font-family: 'Rowdies', cursive;
}

abbr{
    text-decoration: none;
}

/* meu nome e link do intagram*/

.athos {
    background: black;
    color: white;
    text-align: center;
}


